* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
    
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
/*overflow: hidden;*/
margin: 0;
background-color: plum;
}


.container {
border: 2px solid white;
border-radius: 10px;
padding: 0;
width: 22%;
height: 90vh;
text-align: center;
color: black;
display: flex;
flex-direction: column;
justify-content: baseline;
}

img {
width: 100%;
height: 100%;
border-radius: 6px;
}
#bottom {
height: 15vh;
background-color: rgb(255, 252, 254);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 8px;
border: 1px solid white;
/* rgb(254, 254, 254) */
/* padding-top: 9px; */
padding-left: 12px;
padding-right: 12px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}


#bottom .fa:hover {
cursor: pointer;
color: plum;
transition: 0.3s ease;
}
h6{
margin-top: 8px;
color: lightslategray;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}














